@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Nunito:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,500&family=Roboto:wght@100;300;400;500;700&family=Tajawal:wght@200;300;400;500;700;800&display=swap');
:root{
--blue:#2980b8;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.6s ;
    -webkit-transition: all 0.2s  ;
    -moz-transition: all 0.6s ;
    -ms-transition: all 0.6s ;
    -o-transition: all 0.6s ;
}
*::selection{
    background-color: #ff3300;
    color: #fff;
}
html{
font-size: 62.5%;
/* overflow: hidden; */
}
.btn{
    height: 4rem;
    width: 14rem;
    background-color:var(--blue);
    color: #fff;
    cursor: pointer;
    font-size:2rem;
    outline: none;
    border: 0;
}
.btn:hover{
    letter-spacing: 2px;
    opacity: 0.8;
}
.heading{
    padding-top: 7rem;
    border-bottom: .2rem solid rgba(0,0,0,0.3);
    width: 95%;
    margin: 0 auto;
}
.heading span{
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background-color: var(--blue);
    display: inline-block;
    border-top-right-radius: 3rem;
}
/* start header 1  */
.header-1 ,.header-2{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5rem;
width: 100%;
z-index: 1000;
}
.header-1 .logo{
font-size: 2rem;
color: #666;
}
.header-1 .logo i{
color: var(--blue);
margin-right: 10px;
}
.header-1 .form-container form{
display: flex;
}
.header-1 #search{
height: 4rem;
width: 50rem;
outline: none;
border: .2rem solid #666;
font-size: 1.5rem;
padding: 0 1rem;
}
.header-1 #search:focus{
    border-color: var(--blue);
}
.header-1 label{
background-color: var(--blue);
color: white;
font-size: 20px;
width:5rem;
height: 4rem;
text-align: center;
line-height: 4rem;
cursor: pointer;
}
.header-1 label:hover{
    color: yellow;
}

/* start Header 2  */
.header-2{
    background-color: var(--blue);
}
.header-2.header-active{
    position: fixed;
    top: 0;left: 0;
    box-shadow: 0 .1rem .1rem rgba(46, 45, 45, 0.664);
}
.header-2 .navbar ul{
list-style: none;
display: flex;
align-items: center;
justify-content: space-between;
}
.header-2 .navbar ul li{
margin: 0 1rem;
}
.header-2 .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}
.header-2 .navbar ul li:hover a , .header-2 .navbar ul li.active a{
    color: yellow;
}
.header-2 .icons{
    font-size: 2rem;
}
.header-2 .icons a{
    color: #fff;
padding: 0 1rem;
}
.header-2 .icons:hover a{
    color: yellow;
}
.header-2 #menu {
    color: white;
    font-size: 3rem;
    padding: 0 1rem;
    display: none;
}
@media (max-width:768px) {
    html{
        font-size: 55%;
    }
    .header-1 .form-container form #search{
width: 100%;
    }
    .header-2 #menu{
        display: block;
    }
    .header-2 .navbar{
        position: fixed;
        top: 50%;
        left: -50%;
        transform: translate(-50% , -50%);
        -webkit-transform: translate(-50% , -50%);
        -moz-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
        -o-transform: translate(-50% , -50%);
        box-shadow: 0 0 0 100vh rgba(0,0,0,0.3);
        z-index: 1000;
        opacity: 0;
    }
    .header-2 .navbar ul{
        flex-direction: column;
        background: linear-gradient(var(--blue), blueviolet);
        border: .2rem solid #fff;
        box-shadow: 0.3rem 0.5rem rgb(32, 32, 32);
        padding: 4rem 0;
        width: 30rem;
    }
    .header-2 .navbar ul li{
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }
    .header-2 .navbar ul li a{
        font-size: 3rem;
        display: block;
    }
    .fa-times{ 
        transform:rotate(180deg) ; 
        -webkit-transform:rotate(180deg) ;
        -moz-transform:rotate(180deg) ;
         -ms-transform:rotate(180deg) ;
          -o-transform:rotate(180deg) ;
}
.header-2 .navbar.nav-toggle{
    left: 50%;
    opacity: 1;
}
}
@media (max-width:400px) {
header .header-1{
    flex-direction: column;
    padding: 1rem;
}
header .header-1 .logo{
    padding-bottom: 1rem;
}
    
}

/* start Home  */
.home .home-slider .item{
position: relative;
}
.home .home-slider .item img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.home .home-slider .item .content{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.home .home-slider .item .content h3{
color: #fff;
font-size: 5rem;
text-transform: uppercase;
text-shadow: 0 .3rem .5rem #000;
}
.home .home-slider .item .content  p{
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem 0;
    width: 53rem
}
.home .owl-nav{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     -webkit-transform: translatey(-50%);
     -moz-transform: translatey(-50%);
     -ms-transform: translatey(-50%);
     -o-transform: translatey(-50%);
     outline: none;
     background-color: transparent;
}
.owl-nav .owl-prev{
    position: absolute;
left: 1.3rem;
}
.owl-nav .owl-next{
    position: absolute;
    right: -162rem;
}
.owl-nav .owl-prev span,.home ,.owl-nav  .owl-next span {
color: #fff;
font-size: 8rem;
}
@media (max-width:600px) {
    html{
        font-size: 50%;
    }
    .home .home-slider .item .content h3{
        font-size: 3rem;
    }
    .home .home-slider .item .content p{
        font-size: 2rem;
        width: auto;
    }
    .owl-nav {
display: none;
    }
}
/* start Arrival Section  */
.arrival{
    min-height: 100vh;
}
.arrival .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: .2rem 0;
    width: 85%;
    margin: 0 auto;
}
.arrival .box-container .box{
flex: 1 1 30rem;
border: .1rem solid rgba(0,0,0,0.3);
overflow: hidden;
position: relative;
margin: 1rem 2rem;

}
.arrival .box-container .box .image {
height: 20rem;
padding: 2rem;
text-align: center;
background-color: #f0f0f0;
}
.arrival .box-container .box .image img {
height: 100%;
background-color: transparent;
object-fit: cover;
}
.arrival .box-container .info h3{
    padding: 1rem;
    font-size: 2rem;
    color: var(--blue);
}
.arrival .box-container .info .subinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0.1rem solid rg;   
}
.arrival .box-container .info .subinfo .price{
    color: #ff3300;
    font-size: 2rem;
}
.arrival .box-container .info .subinfo .price span{
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
}
.arrival .box-container .info .subinfo .stars i{
    color: orange;
    font-size: 1.5rem;
}
.arrival .box-container .box .over-lay{
    position: absolute;
    top: 0;
    left: 0;
    height: 20rem;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform:scale(0) ;
    -webkit-transform:scale(0) ;
    -moz-transform:scale(0) ;
    -ms-transform:scale(0) ;
    -o-transform:scale(0) ;
}
.arrival .box-container .box:hover .over-lay{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1);
}
.arrival .box-container .box .over-lay a{
    font-size: 2rem;
    padding: 1.5rem 2rem;
    background-color: #fff;
    color: #666;
    margin: 1rem;
    transform: translateY(-15rem);
    -webkit-transform: translateY(-15rem);
    -moz-transform: translateY(-15rem);
    -ms-transform: translateY(-15rem);
    -o-transform: translateY(-15rem);
    transition-delay: calc(.2s * var(--i));

}
.arrival .box-container .box:hover .over-lay a{
     transform:translateY(0rem) ;
     -webkit-transform:translateY(0rem) ;
     -moz-transform:translateY(0rem) ;
     -ms-transform:translateY(0rem) ;
     -o-transform:translateY(0rem) ;
}
.arrival .box-container .box:hover .over-lay a:hover{
    color: var(--blue);
}